body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #707070;
  background-color: #f0f2f5;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
main {
  flex-grow: 1;
}
/* Header */
header section {
  background-color: #f8f5f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  margin: 40px 0;
}
header .container {
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 22px;
  font-weight: bold;
  color: #4b2e2e;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px; 
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none; 
  color: #333; 
  font-weight: 500;
  padding-bottom: 5px; 
  border-bottom: 2px solid transparent; 
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #1b832c;
}
.social a img {
  width: 24px;
  height: 24px;
}
header.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
nav ul li a.active {
  color: #2a8a27;
  font-weight: bold;
  border-bottom: 2px solid #1b970f;
}
