{{-- File: resources/views/components/auth.edge --}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ title || "Carrera" }}
    </title>
    <link rel="stylesheet" href="/resources/css/app.css" />

  </head>
    {{-- Di sini konten dari halaman login akan ditampilkan --}}
    {{{ await $slots.main() }}}
  </body>
</html>
